.error-banner-txt {
    position: absolute;
   display: flex;
   width: 250px;
   justify-content: space-evenly;
   transform: translateX(50%);
}

.error-banner-txt span {
    margin: auto 5px;
}

.error-banner button {
    color: #d43a2f;
    font-size: 35px;
    padding: 0;
    background-color: transparent;
}