.share-win-background {
    padding-top: 10px;
    background-image: url('../../images/confettigif.gif'); 
    text-align: center;
    padding-bottom: 35px;
}

/* confetti code */
.container {
    width: 100%;
    height:40%;
    overflow: hidden;
    position: relative;
}

.confetti {
overflow: hidden;
width: 15px;
height: 15px;
background-color: #f2d74e;
position: absolute;
left: 50%;
animation: confetti 5s ease-in-out -2s infinite;
transform-origin: left top;
}
.confetti:nth-child(1) {
background-color: #f2d74e; left: 10%; animation-delay: 0;
}
.confetti:nth-child(2) {
background-color: #95c3de; left: 20%; animation-delay: -5s;
}
.confetti:nth-child(3) {
background-color: #ff9a91; left: 30%; animation-delay: -3s;
}
.confetti:nth-child(4) {
background-color: #f2d74e; left: 40%; animation-delay: -2.5s;
}
.confetti:nth-child(5) {
background-color: #95c3de; left: 50%; animation-delay: -4s;
}
.confetti:nth-child(6) {
background-color: #ff9a91; left: 60%; animation-delay: -6s;
}
.confetti:nth-child(7) {
background-color: #f2d74e; left: 70%; animation-delay: -1.5s;
}
.confetti:nth-child(8) {
background-color: #95c3de; left: 80%; animation-delay: -2s;
}
.confetti:nth-child(9) {
background-color: #ff9a91; left: 90%; animation-delay: -3.5s;
}
.confetti:nth-child(10) {
background-color: #f2d74e; left: 100%; animation-delay: -2.5s;
}

@keyframes confetti {
0% { transform: rotateZ(15deg) rotateY(0deg) translate(0,0); }
25% { transform: rotateZ(5deg) rotateY(360deg) translate(5vw,20vh); }
50% { transform: rotateZ(15deg) rotateY(720deg) translate(5vw,60vh); }
75% { transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw,80vh); }
100% { transform: rotateZ(15deg) rotateY(1440deg) translate(10vw,75vh); }
}

.you-did-it {
    margin: 10px auto 0 auto;
    padding: 5px;
    border-radius: 10px;
    background-color: #ffffffc0;
    width: 100%;
}

.share-win {
    background-color: #ffffffc0;
    border-radius: 10px;
    width: 100%;
    margin: 10px auto;
}

.share-win .win-item {
    padding-bottom: 20px;
}

.share-win h2 {
    padding-top: 10px;
}

.share-win label {
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
}

.share-win textarea {
    width: 85%;
    height: 100px;
}

.share-win button {
    font-size: 18px;
    display: block;
    margin: 25px auto 15px auto;
}

.share-win fieldset {
    border-radius: 10px;
}

.share-win h3 {
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
}

@media all and (min-width: 600px) {
    .share-win {
        width: 75%;
    }
    .share-win .win-item {
        padding-bottom: 0px;
    }
    .share-win textarea {
        width: 60%;
    }
    .you-did-it {
        width: 45%;
        padding: 20px;
    }
}

