.landing-page {
    margin: 0 auto;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
}

.landing-page p {
    font-size: 25px;
    text-align: center;
    margin: 10px;
}

.landing-page button {
    margin: 10px;
    font-size: 18px;
}

.landing-page .upvotes {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.landing-page .upvotes button {
   margin: 10px;
}

.winwall .win-list p {
    font-size: 30px;
    letter-spacing: 2px;
}

.landing-page .winwall {
    background-color: #d0cde2;
    border-radius: 10px;
    margin-top: 25px;
}

.winwall ul {
    margin: 20px auto;
}

.nspired-intro {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}

@media all and (min-width:600px) {
    .landing-page {
        flex-direction: row;
        padding: 25px;
    }
    .winwall .upvotes {
        flex-direction: row;
    }
    .winwall .upvotes span {
        align-self: center;
    }
}