.group {
  display: flex;
}

.item {
  flex: 1;
}

.item-double {
  flex: 2;
}

input[type='text'], input[type='password'] {
  padding: 5px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #315E36;
}

img {
  width: 100%;
}

main .error {
  padding: 40px;
}

main .error a {
  display: block;
}

button {
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #CC4E00;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

button:hover {
  border: none;
}

.d-orange {
  color: #CC4E00;
}

.d-green {
  color: #315E36;
}

.d-grey {
  color: #8c8a97;
}

.d-red {
  color: red;
}

.v-green {
  color: #82c91e;
}

.gold {
  color: gold;
}

.lp-star {
  font-size: 25px;
  margin: 0 5px;
}

.inspiration {
  text-align: left;
  padding-left: 3%;
  margin-top: 0;
  font-style: italic;
  color: grey;
}

.goal-title {
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
}

@media all and (min-width: 600px) {
  /* main {
      padding: 3%;
  } */
}
