.view-pub-win {
    text-align: center;
}

#clone-goal {
    background-color: slategrey;
    font-size: 25px;
    border: none;
    margin: auto 10px;
}

#clone-goal:hover {
    background-color: gold;
}  

h4 {
   margin: 0px;
}

.win-item-pubwin {
    display: flex;
    width: 95%;
    margin: auto;
    margin-bottom: 30px;
    flex-direction: column;
}

.win-item-pubwin span {
    height: 30px;
    margin: auto;
    margin-top: 0px;
}

.pwc-green {
    background-color: #cbe6d4;
    padding: 20px;
    border-radius: 5px;
}

.pwc-grey {
    background-color: #F4F2F8;
    border-radius: 10px;
}

.win-item-pubwin .item {
    padding: 20px;
}

.win-item-pubwin .item h4 {
    margin: 5px;
}

@media all and (min-width: 600px) {
    .win-item-pubwin {
        display: flex;
        flex-direction: row;
        margin: 35px auto;
        width: 60%;
        justify-content: space-evenly;
    }
}