.inspiration {
    position: absolute;
    top: 125px;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 10px;
    font-style: italic;
    color: grey;
}

@media all and (min-width: 600px) {
    .inspiration {
        position: absolute;
        top: 100px;
        padding-left: 3%;
    }
}