.inspiration {
    position: absolute;
    top: 120px;
    text-align: left;
    padding-left: 30px;
    padding-top: 10px;
    font-style: italic;
    color: grey;
}

@media all and (min-width: 600px) {
    .inspiration {
        position: absolute;
        top: 110px;
        padding-left: 3%;
    }
}