.dashboard {
    display: flex;
    flex-direction: column;
}

.dashboard h2 {
    font-size: 30px;
    text-align: center;
    padding-top: 25px;
}

.dashboard .win-list {
    width: 90%;
    margin: 20px auto;
}

.dashboard .item {
    padding-bottom: 45px;
}

.dash-win {
    text-align: center;
    border-radius: 5px;
    background-color:#a0c0ab;
    min-height: 30px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.dash-win h3 {
    margin: 15px;
}

.dash-win-container {
    height: 350px;
    overflow: scroll;
}

.dashboard #delete-win, .dashboard #win-win {
    padding: 15px 0 0 0;
}

.da-button-div {
    display: flex;
    justify-content: flex-end;
}

.da-button-div button {
    width: 90%;
    margin: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.da-button-div button:hover {
    background-color: #DCA37F;
}

.no-g {
    text-align: center;
}

.no-g a {
    display: block;
    margin-top: 15px;
}

#delete-win:hover {
    background-color: transparent;
    border-radius: 35px;
    box-shadow: 0 5px 15px rgba(255, 73, 143, 0.4);
}

#win-win:hover {
    background-color: transparent;
    box-shadow: 0 5px 15px rgba(94, 255, 73, 0.4);
}

@media all and (min-width: 900px) {
    .da-button-div button {
        width: 70%;
    }
    .dashboard {
        flex-direction: row;
        padding: 0 40px 0 0;
    }
    .dashboard .item {
        margin-top: 45px;
    }
    .dashboard .item-double .item-and-options {
        width: 100%;
        margin: 0 auto;
    }
}

@media all and (min-width: 600px) {
    .dashboard #delete-win, .dashboard #win-win {
        padding: 0pc;
    }
}

@media all and (max-width: 600px) {
    .item-and-options {
        width: 95%;
        height: 150px;
        margin: 0 auto;
    }
    .dashboard #delete-win, .dashboard #win-win {
        position: absolute;
    }
    .dashboard #delete-win {
        margin-top: 70px;
    }
    .dashboard #win-win {
        margin-top: 15px;
    }
    .dashboard .win-item h3 {
        float: right;
        margin: auto;
        padding-left: 30px;
    }
    .dashboard .win-item span {
        margin-right: 20px;
        float: right;
    }
}