.create-goal {
    
    margin: 0px auto;
    padding: 0px 0px 20px 0px;
    width: 90%;
    background-color: #d0cde2;
    border-radius: 10px;
}

.create-goal legend {
    display:flex; 
    justify-content: center;
    padding: 30px 0px;
    width: 100%;
    background-color: #e3e0f7;
    font-size: 30px;
}

.create-goal fieldset {
    padding: 15px 0px 0px 0px;
    margin: 0px;
    font-size: 20px;
    border: none;
    text-align: center;
}

.create-goal textarea {
    margin: 20px auto 15px auto;
    padding: 5px;
    border-radius: 5px;
}

.create-goal input {
    margin: 20px auto 0 auto;
    width: 35%;
    padding: 5px;
    border-radius: 5px;
}

.create-goal label {
    display: inline-block;
    padding-right: 10px;
}

.create-goal button {
    font-size: 18px;
    display: block;
    margin: 0 auto;
}

.helper-text {
    display: block;
    margin: 0;
    height: 30px;
    padding: 0;
    font-size: 10px;
}

.clone-goal-title {
    letter-spacing: 2px;
    margin-top: 0;
}

.tab-holder {
    margin: 40px auto;
    position: relative;
    padding-top: 5px;
    text-align: center;
}

.form-tab {
    color: white;
    margin: 0;
    font-size: 45px;
    position: absolute;
    transform: translateX(-50%);
    top: -20px;
}

.timeframe-buttons {
    display: flex;
    flex-direction: column;
    margin: 20px auto 0 auto;
    justify-content: space-between;
    padding: 0px 40px;
    max-width: 500px;
}

.timeframe-buttons input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.timeframe-buttons label {
    background-color: #F4F2F8;
    font-size: 18px;
    width: 200px;
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
}
  
.timeframe-buttons input[type="radio"]:checked + label {
    background-color: #82c91e;
}
  
button:hover,
  input[type="submit"]:hover,
  .timeframe-buttons input[type="radio"]:hover + label {
    background-color: rgb(255, 208, 0);
    border: none;
}
  
.timeframe-buttons input[type="radio"]:focus + label {
    background-color: rgb(255, 230, 0);
    border: none;
}

textarea {
    display: block;
    width: 90%;
    margin: 10px auto;
    min-height: 50px;
}

@media all and (min-width:600px) {
    .create-goal {
        width: 70%;
    }
}

@media all and (min-width:1000px) {
    .timeframe-buttons {
        flex-direction: row;
        margin: 20px auto 0 auto;
        justify-content: space-between;
        padding: 5px 40px;
    }
    .timeframe-buttons label {
        width: auto;
        margin: 10px;
    }
}