header {
    position: relative;
    background-color: #eae6f3c0;
}

header img {
    vertical-align: middle;
    width: 60px;
    margin-top: 15px;
}

h1 {
    padding-top: 10px;
    font-size: 40px;
    letter-spacing: 2px;
    margin-top: 45px;
    margin-left: 20px;
}

nav {
    margin: auto;
    position: absolute;
    right: 0px;
    text-align: right;
    padding-top: 10px;
}

.bulb:hover {
    color: gold;
    border-radius: 50%;
    box-shadow: 0 5px 15px yellow;
}

.home {
    font-size: 50px;
}

.home:hover {
    color: #5f8a64;
}

.h-group {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 10px;
}

nav a {
    color: black;
    margin: 10px 20px 0 0;
    text-decoration: none;
    vertical-align: middle;
    width: 100%;
}

@media all and (min-width: 600px) {
    .h-group {
        flex-direction: row;
        padding: 0 3%;
    }
    h1 {
        font-size: 45px;
        margin-left: 20px;
        margin-top: 25px;
    }
    nav {
        position: relative;
    }
    header {
        margin-top: 0;
    }
}