header {
    margin-top: 20px;
}

header img {
    vertical-align: middle;
    width: 60px;
    margin-top: 15px;
}

h1 {
    font-size: 40px;
    letter-spacing: 2px;
    margin-top: 45px;
    margin-left: 20px;
}

nav {
    margin: auto;
    position: absolute;
    text-align: right;
    padding-top: 10px;
}

.h-group {
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
    flex-direction: column;
}

nav a {
    color: black;
    margin: 10px 20px 0 0;
    text-decoration: none;
    vertical-align: middle;
    width: 100%;
}

@media all and (min-width: 600px) {
    .h-group {
        flex-direction: row;
    }
    h1 {
        font-size: 45px;
        margin-left: 20px;
    }
    nav {
        position: relative;
    }
    header {
        margin-top: 0;
    }
}